<div class="parent-component">
    <h3>Parent</h3>   
    <div class="children-wrapper">
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
        <child-comp></child-comp>
    </div>   
</div>