<div class="root">
    <h1>Root</h1>
    <div class="parent-wrapper">
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
        <parent-comp></parent-comp>
    </div> 
</div>